{% load static %}
{% load filters %}

<!DOCTYPE html>
<html id="html" lang="{{ lang|lower }}">
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Inter:wght@300;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'first_lab/css/create_styles.css' %}">
    <title>{{ title }}</title>
</head>
<body>
<main class="second_background">
    <p id="name_creating_a_recipe">{% if lang == "RU" %}СОЗДАНИЕ РЕЦЕПТА{% else %}CREATING A RECIPE{% endif %}</p>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <p class="no_block">{% if lang == "RU" %}НАЗВАНИЕ РЕЦЕПТА{% else %}RECIPE NAME{% endif %}:</p>
        <p class="no_block">{{ form|index:"title" }}</p>
        <p></p>
        <p class="no_block">{% if lang == "RU" %}ЗАГРУЗИТЕ ФОТО{% else %}UPLOAD YOUR PHOTO TO THE SERVER{% endif %}:</p>
        <p class="no_block">{{ form|index:"photo" }}</p>
        <p>{% if lang == "RU" %}ИНГРЕДИЕНТЫ{% else %}INGREDIENTS{% endif %}:</p>
        <p class="textarea_settings">{{ form|index:"ingredients" }}</p>
        <p>{% if lang == "RU" %}ПРИГОТОВЛЕНИЕ{% else %}DIRECTIONS{% endif %}:</p>
        <p class="textarea_settings">{{ form|index:"directions" }}</p>
        <div class="button_display_block">
            <p class="button_display"><button class="button_settings"><h1>Create</h1></button></p>
        </div>
    </form>

</main>
</body>
</html>