{% load static %}
{% load filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static "first_lab/css/recipe.css" %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Inter:wght@300;700&display=swap"
          rel="stylesheet">
    <meta name="Cinnabon" content="Рецепт Синнабон">
    <title>{{ recipe.title }}</title>
</head>

<body>
<main class="second_background">
    <div class="cinnabon">
        <img src="{{ recipe.photo.url }}" alt="Здесь фото рецепта">
    </div>
    <p class="namecinnabon">{{ recipe.title }}</p>
    <p class="author_text">Author: {{ recipe.author }}</p>
    <div class="name_left">INGREDIENTS</div>
    <div class="name_right">DIRECTIONS</div>
    <div class="left_text">
        <ul>
            {% for ingredient in recipe.ingredients|split:"\n" %}
                <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="right_text">
        <ol>
            {% for step in recipe.directions|split:"\n" %}
                <li>{{ step }}</li>
            {% endfor %}
        </ol>
    </div>

        {% if flag %}
            <label class="icons"><input type="checkbox" checked id="myCheckBox">
                <span>
                    <img id="like_icon" src={% static "first_lab/icons/Group 26.png" %} alt="Иконка">
                </span>
            </label>
        {% else %}
            <label class="icons"><input type="checkbox" id="myCheckBox">
                <span>
                    <img id="like_icon" src={% static "first_lab/icons/Group 25.png" %} alt="Иконка">
                </span>
            </label>

        {% endif %}

    <div class="line"></div>
    <p class="number_likes" id="p1">{{ recipe.likes_count }}</p>
</main>
</body>
<script src="{% static "first_lab/js/like_scripts.js" %}"></script>
</html>