{% extends 'first_lab/base.html' %}
{% load static %}

{% block content %}
    {#    <div class="pages" id="register">#}
    {#        <h2 class="second-titles" id="register-title">Register</h2>#}
    {#        <div class="container">#}
    {#            <form class="form" id="form" method="post">#}
    {#                {% csrf_token %}#}
    {#                {% for f in form %}#}
    {#                    {% if f.errors %}#}
    {#                        <div class="form-control error">#}
    {#                    {% elif not form.is_bound %}#}
    {#                        <div class="form-control">#}
    {#                    {% else %}#}
    {#                        <div class="form-control success">#}
    {#                    {% endif %}#}
    {#                            {{ f }}#}
    {#                                <i class="fas fa-check-circle"></i>#}
    {#                                <i class="fas fa-exclamation-circle"></i>#}
    {#                                <small>{{ f.errors|first }}</small>#}
    {#                        </div>#}
    {#                {% endfor %}#}
    {##}
    {#                <button type="submit"></button>#}
    {#            </form>#}
    {#        </div>#}
    {#    </div>#}
    <main class="page">
        <div class="page__register-block">
            <div class="register-block__container _container">
                <div class="register-block__body">

                    <h1 class="register-block__title">{{ title}}</h1>

                    <div class="register-block__form">
                        {#                        <form method="post" class="form">#}
                        {#                            {% csrf_token %}#}
                        {#                            ghbdtn#}
                        {#                        </form>#}
                        <form class="form" id="form" method="post">
                            {% csrf_token %}
                            {% for f in form %}
                                {% if f.errors %}
                                    <div class="form-control error">
                                {% elif not form.is_bound %}
                                    <div class="form-control">
                                {% else %}
                                    <div class="form-control success">
                                {% endif %}
                            {{ f }}
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>{{ f.errors|first }}</small>
                            </div>
                            {% endfor %}

                            {#                            <button type="submit"></button>#}
                            <div class="register-block__button">
                                <button type="submit"><img src="{% static "first_lab/images/create_button.png" %}" alt="cover"></button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="register-block__image _ibg">
                <img src="{% static "first_lab/images/alternative-background.png" %}" width="100%" height="100%"
                     alt="cover">
            </div>
        </div>
    </main>
{% endblock %}